html * {
  font-family: Arial;
}

h1 {
  text-align: center;
  font-size: 500%;
  padding-top: 3%;
  font-family: "Georgia", bold;
}

th, td, p {
  vertical-align: top;
  text-align: center;
  padding: 1px 1px;
}

input {
  text-align: right;
  border: none;
  margin: auto;
  &#files {
    margin-left: 25%;
    font-size: 25%;
    padding-top: 3%;
  }
}

table {
  width: 90%;
  border: 0px;
  margin: auto;
}

textarea {
  border: 2px solid black;
  font-size: 30%;
  color: black;
  font-family: monospace;
  height: 100px;
  overflow: auto;
  padding: 0.5em;
  width: 50%;
  margin: auto;
}

pre {
  border: 2px solid black;
  color: black;
  font-family: monospace;
  height: 3in;
  overflow: auto;
  padding: 0.5em;
  width: 50%;
  margin: auto;
  resize: both;
  margin-left: 25%;
  margin-right: 25%;
  &#OUTPUT {
    text-align: left;
    margin-bottom: 5%;
  }
}

div#botones {
  width: 100%;
  margin-bottom: 5%;
  margin-top: 2%;
}

body {
  background-image: url("../images/fondo.jpg");
  background-size: 100%;
  background-color: white;
  text-align: center;
  font-weight: bold;
  color: #336936;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

div#info {
  position: absolute;
  top: 1%;
  left: 1%;
  padding: 2%;
}

input#files {
  font-size: 2em;
  height: 10000%;
}

table#info  {
  border-collapse:separate;
  border-spacing:1em;
}

.btn {
  margin: 1%;
}

#PARSE, #CLEAR {
  font-size: 200%;
}
