extends layout

block content
  h1
    p
    letras A
    | nalizador 
    letras D
    | escendente <br>
    letras P
    | redictivo 
    letras R
    | ecursivo <br>
    | con 
    letras PEG
    | js
  input#files(type='file')
  input#EJE1.btn(value='Ejemplo 1', type='button', role='button', name='e1.txt')
  input#EJE2.btn(value='Ejemplo 2', type='button', role='button', name='e2.txt')
  input#EJE3.btn(value='Ejemplo 3', type='button', role='button', name='e3.txt')
  div(width='100%')
    textarea#INPUT(placeholder='Introduzca el texto o arrastre el archivo que desea analizar.')
  #botones
    input#PARSE.btn.btn-primary(value='Parsear', type='button', role='button')
    input#CLEAR.btn.btn-primary(value='Limpiar', type='button', role='button')
  noscript
    p Podrias no verlo porque tienes JavaScript desactivado
  script(type='text/javascript' src='/coffeescripts/traduccion.js')
  script(type='text/javascript' src='/coffeescripts/main.js')
  pre#OUTPUT.

  div
    table#info
      tr
        th
          a.btn.btn-primary(href='https://github.com/alu0100716894/PEG', role='button', target='_blank') Repositorio
        th
          a.btn.btn-primary(href='https://adprpeg.herokuapp.com/', role='button', target='_blank') Heroku
        th
          a.btn.btn-primary(href='./test', title='Tests del analizador') Tests

